[Unit]
Description=ISEMS MQTT Listener Service
After=network.target

[Service]
Environment=DATABASE_URL={{database_url}}
Environment=MQTT_SERVER={{mqtt_server}}
ExecStart={{ virtualenv_path }}/bin/flask subscribe
WorkingDirectory={{project_path}}
Restart=always
User=pi

[Install]
WantedBy=multi-user.target