[uwsgi]

plugins = python
socket = /tmp/uwsgi-isems-data-collector.sock
home = {{virtualenv_path}}
python-path = {{ project_path }}
processes = 4
max-requests = 5000
master = 1
stats = /tmp/uwsgi_stats.sock
log-reopen = 1
wsgi-file = {{ project_path }}/app.py
callable = app

env = DATABASE_URL={{ database_url }}
{% if sentry_dsn is defined %}
env = SENTRY_DSN={{ sentry_dsn }}
{% endif %}

# Disable exceptions when nginx closes connection before finished request
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
